#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    width: 400px;
}

#displayContainer {
    width: 350px;
    height: 20px;
    background-color: gray;
    margin: 5px;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 350px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.button {
    width: 80px;
}

.backspace {
    width: 160px;
}

.equals {
    width: 160px;
}

